@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    /* Primary */
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    /* Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    /* Margin */
    --mg: 20px 50px 20px 10px;
    /* Font */
    --fonts: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body .paragraph{
    font-size: 15px;
    color: var(--Dark-grayish-blue);
}

.hdr {
    width: 98.5%;
    height: 100%;
    margin: 20px 20px 40px;
}

.container-hdr {
    display: flex;
    align-content: space-around;
}

.logo-hdr {
    width: 5%;
    margin: 20px 47.7rem 20px 10px;
}

.options-hdr {
    width: 28rem;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 100%;
    opacity: 0.8;
}

.aa {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    width: 100%;
}

.paragraph-hdr {
    width: 80px;
    margin-right: 1rem;
}

.container {
    width: 99%;
    display: flex;
    justify-content: space-around;
}

.principal {
    width: 70%;
    height: 100%;
}

.container-p {
    width: 100%;
    height: 100%;
}

.img-p{
    width: 94%;
    height: 60%;
    margin-left: 1.2rem;
}

.container-secundario {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.title {
    width: 25%;
    font-size: 39px;
    text-align: center;

}

.container-2 {
    height: 100%;
}

.paragraph {
    width: 18rem;
    margin-left: 17rem;
    justify-content: space-around;
}

.btn-secundario {
    width: 9rem;
    height: 2.5rem;
    margin-left: 17rem;
    margin-top: 20px;
    background-color: var(--red);
    border: none;
    color: var(--Off-white);
    letter-spacing: 3px;
}

.fila {
    width: 23%;
    background-color: var(--Very-dark-blue);
}

.container-fila {
    margin: 20px 25px;
    height: 92.4%;
}

.title2 {
    color: var(--orange);
    font-size: 2.5rem;
}

.SubTitles {
    color: var(--Off-white);
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 19px;
}

.P-A {
    width: 15.9rem;
    margin: 0;
    height: 80px;
    border-bottom: 1px white solid;
}

.pa-2 {
    width: 18rem;
    margin: 0;
    border: none;
}

.footer {
    margin-top: 4rem;
    width: 98%;
    height: 14rem;
    display: flex;
    justify-content: space-around;
}

.img-ft {
    width: 6.5rem;
    height: 8rem;
}

.container-footer {
    display: flex;
}

.text-footer {
    width: 12rem;
    margin-left: 25px;
    height: 8rem;
}

.number {
    font-size: 38px;
    color: var(--Dark-grayish-blue);
    opacity: 0.3;
}

.Subtitles {
    margin: 0.5rem 0;
}

.ph-ft {
    margin: 0;
    width: 11rem;
    height: 3.1rem;
}

.ph-ft1 {
    margin: 0;
    width: 12rem;
}