@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    /* Primary */
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    /* Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    /* Margin */
    --mg: 20px 50px 20px 10px;
    /* Font */
    --fonts: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body .paragraph{
    font-size: 15px;
    color: var(--Dark-grayish-blue);
}

.hdr {
    width: 99%;
    height: 100%;
    margin: 20px 0 40px 12px;
}

.container-hdr {
    display: flex;
}

.logo-hdr {
    width: 60%;
    margin: 20px 0 20px 10px;
}

.options-hdr {
    width: 38%;
    display: flex;
    margin-top: 30px;
    height: 100%;
    opacity: 0.8;
}

.menu {
    display: none;
}

.bars {
    display: none;
}

.bars ul {
    list-style: none;
}

.close {
    display: none;
}

.aa {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    width: 20%;
}

.paragraph-hdr {
    width: 80px;
    margin-right: 1rem;
}

.paragraph-hdr:hover {
    color: var(--red);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.principal {
    width: 70%;
    height: 100%;
}

.container-p {
    width: 100%;
    height: 100%;
}

.img-p {
    width: 96%;
}

.img-p2{
    display: none;
}

.container-secundario {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.title {
    width: 54%;
    font-size: 39px;

}

.container-2 {
    height: 100%;
    width: 100%;
}

.paragraph {
    width: 64%;
    margin-left: 9rem;
}

.btn-secundario {
    width: 28%;
    height: 2.5rem;
    margin-left: 9rem;
    margin-top: 20px;
    background-color: var(--red);
    border: none;
    color: var(--Off-white);
    letter-spacing: 3px;
}
.btn-secundario:hover {
    cursor: pointer;
    background-color: var(--Very-dark-blue);
}


.fila {
    width: 29%;
    height: 100%;
    background-color: var(--Very-dark-blue);
}

.container-fila {
    margin: 19px 25px;
    height: 92.4%;
}

.title2 {
    color: var(--orange);
    font-size: 2.5rem;
}

.SubTitles {
    color: var(--Off-white);
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 19px;
}

.SubTitles:hover {
    cursor: pointer;
    color: var(--orange);
}

.paragrap {
    font-size: 15px;
    color: var(--Off-white);
    opacity: 0.6;
}

.P-A {
    width: 69%;
    margin: 0;
    height: 80px;
    border-bottom: 1px white solid;
}

.pa-2 {
    width: 18rem;
    margin: 0;
    border: none;
}

.footer {
    margin-top: 4rem;
    width: 97%;
    height: 10rem;
    display: flex;
    justify-content: space-around;
}

.img-ft {
    width: 6.5rem;
    height: 8rem;
}

.container-footer {
    display: flex;
}

.text-footer {
    width: 12rem;
    margin-left: 25px;
    height: 8rem;
}

.number {
    font-size: 38px;
    color: var(--Dark-grayish-blue);
    opacity: 0.3;
}

.Subtitles {
    margin: 0.5rem 0;
}

.Subtitles:hover {
    cursor: pointer;
    color: var(--red);
}

.ph-ft {
    margin: 0;
    width: 11rem;
    height: 3.1rem;
}

.ph-ft1 {
    margin: 0;
    width: 12rem;
}

@media (max-width:375px) {
    .hdr {
        max-width: 375px;
        width: 95%;
        margin: auto;
    }

    .container-hdr {
        max-width: 375px;
    }

    .logo-hdr {
        width: 100%;
        margin: 20px 0 20px 5px;
    }

    #logo {
        width: 3rem;
    }

    .img-p {
        display: none;
    }

    .img-p2 {
        display: revert;
        max-width: 355px;
        width: 100%;
        margin: 0px 1px;
    }

    .options-hdr {
        display: none;
    }

    .container {
        align-items: center;
        display: revert;
        width: 97%;
        margin: 1rem 0 1rem 0.6rem;
    }

    .principal {
        align-items: center;
        width: 100%;
    }

    .menu {
        display: revert;
        color: black;
        margin: 25px 0 20px;
        height: 20px;
    }
    
    .container-secundario {
        display: revert;
        margin: 0;
    }

    .title {
        width: 80%;
        text-align: left;
        font-size: 44px;
    }

    body .paragraph {
        margin: 0;
        width: 100%;
        font-size: 18px;
    }

    .btn-secundario {
        margin-left: 0;
    }

    .fila {
        width: 98%;
        max-height: 550px;
        height: 100%;
        margin-left: 0;
    }

    .container-fila {
        margin: 19px 25px 19px;
        max-height: 550px;
        height: 100%;
    }

    .title2 {
        padding-top: 20px;
        font-size: 45px;
    }

    .SubTitles {
        font-size: 22px;
    }

    .paragrap {
        font-size: 18px;
        margin: 0;
    }

    .P-A {
        width: 100%;
    }

    .footer {
        display: revert;
        height: 100%;
        margin: 1rem 0 1rem 0.6rem;
        max-width: 360px;
        width: 100%;
    }

    .container-footer {
        margin-bottom: 2rem;
        height: 120px;
    }

    .img-ft {
        height: 100%;
        max-width: 90px;
        width: 100%;
    }

    .text-footer {
        max-width: 204px;
        width: 100%;
        height: 100%;
    }
}

@keyframes muestraMenu {
    from{opacity: 0;}
    to{opacity: 1;}
}

.enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}